<link rel="stylesheet" href="modules/{$MODULE}/styles/angular-material.min.css">
<link rel="stylesheet" href="modules/{$MODULE}/styles/font.css" >
<script src="modules/{$MODULE}/js/angular.min.js"></script>
<script src="modules/{$MODULE}/js/angular-animate.min.js"></script>
<script src="modules/{$MODULE}/js/angular-aria.min.js"></script>
<script src="modules/{$MODULE}/js/angular-material.min.js"></script>
<script src="Smarty/angular/ng-table.js"></script>
<script src="modules/{$MODULE}/js/ui-bootstrap-tpls-0.13.4.js"></script>
<script src="Smarty/angular/angular-multi-select.js"></script>
<link rel="stylesheet" href="Smarty/angular/ng-table.css" />
<link rel="stylesheet" href="modules/{$MODULE}/styles/bootstrap.min.css" >
<link rel="stylesheet" href="Smarty/angular/angular-multi-select.css">
<link rel="stylesheet" href="modules/{$MODULE}/styles/style.css">

{*{include file='Buttons_List1.tpl'}*}