<accordion close-others="oneAtATime">
	<accordion-group ng-repeat="action in blockParameters" heading="{literal}{{action.paramlabel}}{/literal}" id="{literal}{{action.paramname}}{/literal}">
		<table>
			<tr> 
				<td ng-repeat="fields in action.paramfields">
				{literal}{{fields.fieldlabel}}{/literal}
				<span ng-switch on="fields.fieldtype">
					<textarea ng-switch-when="Textbox" ng-model="fldValuesParam[action.paramAction.actionid][fields.relfield]"></textarea>
					<input type="checkbox" ng-switch-when="Checkbox" ng-model="fldValuesParam[action.paramAction.actionid][fields.relfield]"/>
					<input type="date" ng-switch-when="Date" ng-model="fldValuesParam[action.paramAction.actionid][fields.relfield]"/>
					<input type="text" ng-switch-when="UItype10" ng-model="fldValuesParam[action.paramAction.actionid][fields.relfield]" />
					<select name="field"  tabindex="10" ng-switch-when="Picklist" ng-model="fldValuesParam[action.paramAction.actionid][fields.relfield]">
						<option ng-repeat="fld in fields.fieldvalue" value="{literal}{{fld}}{/literal}">{literal}{{fld}}{/literal}</option>
					</select>
				</span>
			</td>
		</tr>
		<tr> 
			<td>
				<div id="buttons" >
					<input type="button" value="{literal}{{action.paramAction.actionlabel}}{/literal}" class="add-action" ng-disabled="enable_action"
						ng-click="runAction(action.paramAction.actionname,fldValuesParam[action.paramAction.actionid],checkboxes.items);" />
				</div> 
			</td>
		</tr>
	</table>
</accordion-group>
</accordion>